{% extends "main/base.html" %}
{% load static %}

{% block body %}
  <h1>Корзина покупок</h1><br>

  <div class="row pb-5">
    {% if cart %}
      {% for item in cart %}
        {% with el=item.product %}
          <div class="row border-bottom border-top border-left border-right pb-3 pt-3 pl-3">
            <div class="col border-right">
              <p align="center"><img src="{{ el.photo.url }}" alt=""></p>
              <p align="center">Название: <a href="{{ el.get_absolute_url }}">{{ el.title }}</a></p>
            </div>
            <div class="col">
              <div class="row">
                <div class="col"><br>
                  <form action="{% url 'cart:cart_update' el.id %}" method="post">
                    {% csrf_token %}
                    Количество:<br><br>
                    {{ item.update_quantity_form.quantity }}
                    {{ item.update_quantity_form.update }}
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <button class="btn" type="submit"><i class="fa-sharp fa-solid fa-arrow-rotate-right"></i></button>
                  </form>
                </div>
                <div class="col"><br>
                  Цена за штуку:<br><br>
                  {{ item.price }} руб
                </div>
              </div>
            </div>
            <div class="col">
              <div class="row">
                <div class="col"><br>
                  Общая цена:<br><br>
                  {{ item.total_price }} руб
                </div>
                <div class="col"><br>
                  Удалить:<br><br>
                  <a class="btn btn-outline-danger" href="{% url 'cart:cart_remove' el.id %}">Удалить {{ item.quantity }}шт</a>
                </div>
              </div>
            </div>
          </div>
        {% endwith %}
      {% endfor %}
          <div class="row border-bottom border-left border-right">
            <div class="col"><br>Стоимость:<br><br></div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"><br>{{ cart.get_total_price }} руб<br><br></div>
            <div class="col">
              <p align="right"><br><a href="{% url 'cart:clear' %}" class="btn btn-danger  btn-sm">Очистить все</a></p>
            </div>
            <div class="col">
              <p align="right"><br><a href="{% url 'ordering' %}" class="btn btn-primary btn-sm">Оформить заказ</a></p>
            </div>
            <a href="{% url 'cart:print_cart' %}">print_cart</a>
          </div>
    {% else %}
      <h4>Корзина пустая</h4>
    {% endif %}
  </div>

{% endblock %}