.camera-list-photo {
    margin-left: 10%;
    height: 110px;
    width: 80%;
}

.camera-list-photo {display: -webkit-box}

.camera-list-photo {
  overflow-x: scroll;
}

.camera-list-photo::-webkit-scrollbar {
  // display: none;
}

.col-sm-25 {
    width: 25%;
}

.col-sm-75 {
    width: 75%;
}