{% extends 'main/base.html' %}
{% load static %}

{% block body %}

<style>
    .col-sm .cam-title, .cam-photo {
        text-align: center;
    }
</style>

    <div class="row">
        <div class="col-sm">
            <h4 class="cam-title">Название: {{ el.title }}</h4>
            {% if el.photo %}
                <p class="cam-photo"><img src="{{ el.photo.url }}" alt="Card image cap"></p>
            {% else %}
                <p class="cam-photo"><img src="{% static 'main/img/no_image.jpg' %}" alt="Card image cap"></p>
            {% endif %}
        </div>
        <div class="col-sm">
            <h4>Описание:</h4>
            <p>{{ el.description|linebreaks }}</p>
            <p>На складе <strong id="quantity-product">{{ el.quantity }}</strong> шт.</p>
            <p class="alert-quantity"></p>
        </div>
    </div>

<div class="row">
    <div class="col-sm"></div>
    <div class="col-sm">
        <p><strong>Цена:</strong> {{ el.price }} byn</p>
            <!-- Проверка есть ли данный товар в корзине -->
            {% if el not in products %}
                <form hx-post="{% url 'cart:cart_add_one_camera_detail' el.id %}"
                      hx-trigger="click"
                      hx-swap="outerHTML">
                    {% csrf_token %}
                    {{ cart_one_product_form }}
                    <button type="submit" class="btn btn-primary btn-sm" onclick="checkBasketQuantity()">
                        В корзину <i class="fa-solid fa-basket-shopping"></i>
                    </button>
                </form>
            <!-- Если есть то выводится галочка -->
            {% else %}
                В корзине <i class="fa-solid fa-check"></i>
            {% endif %}
        <br><br>
    </div>
</div>

{% endblock %}