{% extends 'main/base.html' %}

{% block body %}

<style>
    .col-sm .cam-title, .cam-photo {
        text-align: center;
    }
</style>

    <div class="row">
        <div class="col-sm"></div>
        <div class="col-sm"><h3>Подробнее о камере</h3><br></div>
        <div class="col-sm"></div>
    </div>
    <div class="row">
        <div class="col-sm">
            <h4 class="cam-title">Название: {{ el.title }}</h4>
            <p class="cam-photo"><img src="{{ el.photo.url }}"></p>
        </div>
        <div class="col-sm">
            <h4>Описание:</h4>
            <p>{{ el.description|linebreaks }}</p>
            <p>На складе <strong id="quantity-product">{{ el.quantity }}</strong> шт.</p>
            <p id="alert-quantity"></p>
        </div>
    </div>

<div class="row">
    <div class="col-sm"></div>
    <div class="col-sm">
        <p><strong>Цена:</strong> {{ el.price }} byn</p>
        <form action="{% url 'cart:cart_add' el.id %}" method="post">
            {% csrf_token %}
            {{ cart_product_form }}<br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input id="add-in-basket" type="submit" hidden value="В корзину">
            <input class="btn btn-outline-success btn-outline-success-2" onclick="checkAddInBasket()" type="button" value="В корзину">
        </form>
        <br><br>
    </div>
</div>

{% endblock %}