{% extends 'main/base.html' %}

{% block body %}

<style>
    .col-sm {
        margin: 10px auto;
        text-align: center;
    }
</style>

    <div class="row">
        <div class="col-sm">
            <h5>Телефон:</h5>
            <h6>+375 33 671 94 00 мтс</h6>
        </div>
        <div class="col-sm">
            <h5>Telegram:</h5>
            <a style="color: #83CCFB; text-decoration: none;" href="https://t.me/Alexander_Misyuta">Александр Мисюта</a>
        </div>
        <div class="col-sm">
            <h5>Linkedin:</h5>
            <a style="color: #83CCFB; text-decoration: none;" href="https://www.linkedin.com/in/%D1%81%D0%B0%D1%88%D0%B0-%D0%BC%D0%B8%D1%81%D1%8E%D1%82%D0%B0-637623231/">Александр Мисюта</a>
        </div>
        <div class="col-sm">
            <h5>Instagram:</h5>
            <a style="color: #83CCFB; text-decoration: none;" href="https://www.instagram.com/sanya081107/">Александр Мисюта</a>
        </div>
    </div>

    <div class="row">
        <div class="col-sm">
            <h5>Почта:</h5>
            <h6>alexander_misyuta@mail.ru</h6>
        </div>
        <div class="col-sm">
            <h5>Адрес:</h5>
            <h6>Республика Беларусь, г. Минск</h6>
        </div>
        <div class="col-sm">
            <h5>Время работы:</h5>
            <h6>Пн-Пт 9.00-22.00</h6>
            <h6>Сб, Вс - офис не работает, но мы на связи</h6>
        </div>
        <div class="col-sm">
            <h5>Способ связи:</h5>
            <h6>Используйте любой вариант связи со мной</h6>
        </div>
    </div><br><br>

    <div class="row">
        <div class="col-sm">
            <h6>По любым вопросам, обращайтесь! Всегда буду рад Вам Помочь.</h6>
        </div>
    </div>

{% endblock %}