{% extends 'main/base.html' %}
{% load static %}

{% block body %}

<style>
    .gallery-photos {
        margin: 10px 10px;
    }
    .card-body {
        text-align: left;
        padding: 0 6%;
    }
    .photo {
        float: left;
    }
</style>

<div class="card text-center">
    <div class="card-header">
        {{ post.title }}
    </div>
    <div class="card-body">
        {% for el in post.gallery_images.all %}
            <div class="photo">
                <img class="gallery-photos" data-fancybox='gallery' src="{{ el.images.url }}" width="300" height="350">
            </div>
        {% endfor %}
    </div>
    <div class="card-footer text-muted">
        Создано: {{ post.created|date:'j E Y' }}
    </div>
</div>

{% endblock %}