{% extends 'main/base.html' %}
{% load static %}

{% block body %}
<style>
.round {
    width: 140px;
    height: 140px;
    border-radius: 140px; /* Радиус скругления */
    border: 3px solid grey; /* Параметры рамки */
    box-shadow: 0 0 7px #666; /* Параметры тени */
}
</style>
<!-- Three columns of text below the carousel -->
<div class="row">
    <div class="col-lg-4">
        {% for el in cams|slice:':1' %}
            <img src="{{ el.photo.url }}" class="round">
            <h2 class="fw-normal">{{ el.title|truncatechars_html:20 }}</h2>
            <p>{{ el.description|truncatechars_html:90 }}...</p>
            <p><a class="btn btn-secondary" href="{{ el.get_absolute_url }}">подробнее</a></p>
        {% endfor %}
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
        {% for el in cams|slice:'1:2' %}
            <img src="{{ el.photo.url }}" class="round">
            <h2 class="fw-normal">{{ el.title|truncatechars_html:20 }}</h2>
            <p>{{ el.description|truncatechars_html:90 }}...</p>
            <p><a class="btn btn-secondary" href="{{ el.get_absolute_url }}">подробнее</a></p>
        {% endfor %}
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
        {% for el in cams|slice:'2:3' %}
            <img src="{{ el.photo.url }}" class="round">
            <h2 class="fw-normal">{{ el.title|truncatechars_html:20 }}</h2>
            <p>{{ el.description|truncatechars_html:90 }}...</p>
            <p><a class="btn btn-secondary" href="{{ el.get_absolute_url }}">подробнее</a></p>
        {% endfor %}
    </div><!-- /.col-lg-4 -->
</div><!-- /.row -->


<!-- START THE FEATURETTES -->

<hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading fw-normal lh-1">Политика компании - <span class="text-muted">Hii-see</span></h2>
            <p class="lead">Наша главная задача – поддержание репутации производителей мирового уровня, которые ценят экологию, безопасность и гармонию на рабочих местах, социальную ответственность всей компании</p>
        </div>
        <div class="col-md-5">
            <img src="{% static 'main/img/photos_for_main_page/foto1.jpg' %}" width="340" height="340">
        </div>
    </div>

<hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading fw-normal lh-1">Ваш комфорт - <span class="text-muted">превыше всего</span></h2>
            <p class="lead">Мы создаем гармоничную атмосферу для наших клиентов, защищаем их права и заботимся об их интересах.</p>
        </div>
        <div class="col-md-5 order-md-1">
            <img src="{% static 'main/img/photos_for_main_page/foto2.jpg' %}" width="340" height="340">
        </div>
    </div>

<hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading fw-normal lh-1">Ваша безопасность - <span class="text-muted">наша задача</span></h2>
            <p class="lead">Мы заботимся о том, чтобы наши клиенты находились в безопасной, благоприятной для здоровья и комфортной обстановке для своей жизни.</p>
        </div>
        <div class="col-md-5">
            <img src="{% static 'main/img/photos_for_main_page/foto3.jpg' %}" width="340" height="340">
        </div>
    </div>

<hr class="featurette-divider">

<!-- /END THE FEATURETTES -->

{% endblock %}
