{% extends 'main/base.html' %}
{% load static %}

{% block body %}

    <style>
        @media (min-width: 900px) {
            .my-shopping {
                width: 70%;
                margin: 0 auto;
            }
        }
        @media (max-width: 900px) {
            .my-shopping {
                width: 90%;
                margin: 0 auto;
            }
        }
    </style>

    {% if posts %}
        <div class="my-shopping">
            <ol>
                {% for el in posts %}
                    <div class="card">
                        <div class="card-header">
                            <div class="row">
                                <div class="col" style="text-align: left"><li style="margin-left: 15px;">Сумма: {{ el.price }}p.</li></div>
                                <div class="col" style="text-align: right">{{ el.created }}</div>
                            </div>
                        </div>
                        <div class="card-body">
                            <h6 class="card-title">Купленные товары:</h6>
                            <p class="card-text">{{ el.quantity|linebreaks }}</p>
                        </div>
                    </div><br>
                {% endfor %}
            </ol>
        </div>
    {% else %}
        <h5 style="text-align: center">У вас нет покупок</h5>
    {% endif %}

{% endblock %}