{% extends 'main/base.html' %}

{% block body %}

<div class="content">
    <h1>Ваши данные</h1><br>

<!--    <form method="post" action="{% url 'add_order' %}">-->
<!--        {% csrf_token %}-->
<!--        <input placeholder="your name" id="name" name="name" type="text"><br><br>-->
<!--        <input placeholder="your surname" id="surname" name="surname" type="text"><br><br>-->
<!--        <div id="errors" class="errors"></div><br>-->
<!--        <button id="formIsOk" type="submit" hidden>save</button>-->
<!--    </form>-->
<!--    <button class="btn btn-success" onclick="CheckForm()">Оформить заказ</button>-->

    <form method="post" enctype="multipart/form-data" action="{% url 'add_order' %}">
        {% csrf_token %}
        {{ order_product_form.as_p }}
        <button type="submit">create</button>
    </form>

</div>

{% endblock %}
