{% extends 'main/base.html' %}

{% block body %}

<div class="row">
    <div class="col-sm"></div>
    <div class="col-sm">
        <form method="post">
            {% csrf_token %}
            {% for el in form %}
            <p><label for="{{el.id_for_label}}">{{ el.label }}:</label> {{ el }}</p>
            <div class="form-error"> {{ el.errors }}</div>   <!-- Выдается ошибка по отдельному полю формы -->
            {% endfor %}
            <a href="{% url 'password_reset' %}">Забыли пароль?</a><br><br>
            <button class="btn btn-success" type="submit">Войти</button>
        </form><br>
        <br>
    </div>
    <div class="col-sm"></div>
</div>

{% endblock %}